<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wall</title>
    {% load static %}
    <link rel='stylesheet' href='/static/handyHelper/viewStyle.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8693b8c8a4.js"></script>
</head>
<body>
    <div id='frame'>
        <div id='header'>
            <h5 style='display:inline-block'>Hello {{fn}}! Here are the job details!</h5>
            <div class="btn-group" style='margin-top:0px;margin-left:150px;display:inline-block'>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/home">Home</a>
                    <a class="dropdown-item" href="home/newjob">Add new job!</a>
                    <div class="dropdown-divider"></div>
                    <a class='dropdown-item' href='home/logout'>Log out</a>
                </div>
            </div>
        </div>
        <div id='main'>
            {% if job %}
            <h5>{{job.title}}</h5>
            <p>{{job.description}}</p>
            <p>Posted by: {{job.posted_by.first_name}} {{job.posted_by.last_name}}</p>
            <p>Posted on: {{job.created_at}}</p>
            {% if categories %}
            <p>Categories: </p>
            {% for category in categories %}
            <p>{{category.title}}</p>
            {% endfor %}
            {% endif %}
            {% endif %}
            <form action='/home/addjob/{{job.id}}' method='post'>
                {% csrf_token %}
                <button type='submit' class="btn btn-primary">Add to my jobs</a>
            </form>
        </div>
        <div id='footer'></div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>